<div class="container">
    <div class="row">
      <%= bootstrap_form_for ([@article, @article.comments.build]) do |f| %>
          <%= f.text_field :name %>
        <br>
          <%= f.text_area :body, label: 'Comment' %>
        <br>
          <%= f.submit "Post" %>
     <% end %>
    <br>
  </div>
</div>
