  <div class="container">
      <div class="row">
        <h1><%= "Thank you for following me #{@follower.name}!" %></h1>
        <p>
          <%= "I will send you notifcations to your email #{@follower.email} ,
          to keep you up to date with new articles I post." %>
        </p>
          <p><%= link_to 'Explore more articles', root_path %></p>
      <br>
    </div>
  </div>
