<h1>You've unfollowed me successfully!.</h1>
  <p> You will no logner receive emails from my Personal Blog </p>
  <p>
    <%= link_to 'Follow again', new_follower_path %> |
    <%= link_to 'Home page', root_path %>
  </p>
