<h1>You've unfollowed me successfully!.</h1>
  <p> You will no logner receve emails from my Personal Blog </p>
    <%= link_to 'Follow again', new_follower_path %>
    <%= link_to 'Home page', root_path %>
