<div class="container">
    <div class="row">
      <h3> Stay up tp date with my new articles </h3>
      <p> You will be sent an email whenever a new article was posted </p>
      <%= bootstrap_form_for @follower do |f| %>
        <%= f.text_field :name, label: "Your Name:"  %>
      <br>
        <%= f.text_field :email %>
      <br>
        <%= f.submit('Follow me')  %>
      <% end %>
    <br>
  </div>
</div>
